header.page-header
  .container
    include menu
    .page-header__wrap
      p.page-header__text New Product
      h2.page-header__title XX99 Mark II Headphones 
      p.page-header__content Experience natural, lifelike audio and exceptional build quality made for the passionate music enthusiast.
      a.page-header__link.product-link(href="#") See Product

